<div class="container mat-elevation-z8">
  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="text">
      <mat-header-cell *matHeaderCellDef>treść</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.text }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>rodzaj</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ typeLabels[element.type] }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button routerLink="/edit" [queryParams]="{ cardId: element.id }">Edytuj</button>
        <button mat-raised-button color="warn">Usuń</button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
  